{% extends 'base.html' %}
{% block title %} Edit Blog {% endblock %}
{% block content %}
<div class="blog-form">
    <h2>Edit Blog</h2>
    <form method="post">
        <div class="form-group ">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{ blog.title }}" required>
        </div>

        <div class="form-group ">
            <label for="content">Content</label>
            <textarea name="content" id="content" required> {{ blog.content }}</textarea>
        </div>
        <button type = 'submit' class="btn">Update</button>
    </form>
</div>
{% endblock %}